.container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.beamCanvas {
  position: absolute !important;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}





















